.Attempt-Table {
    margin-left: auto;
    margin-right: auto;
}

.Attempt-Table-Body {
    margin-left: auto;
    margin-right: auto;
}

.Attempt-Table-Login {
    width: 30%
}

.Attempt-Table-CurrentDateTime {
    width: 70%
}